*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Montserrat;
    display: flex;
}
.container {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.navbar {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0D0D0D;
    color: #cad5e2;
    padding: 0 80px;
}
.line {
    display: block;
    height: 60%;
    width: 2px;
    background-color: #fff;
    margin-left: 10px
}
.grow-list {
    flex-grow: 1;
    margin-left: 50px;
}
.list {
    display: flex;
    gap: 55px;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.list .list-item:first-child::after {
    content: ">";
    font-size: 18px;
    color: #fff;
    display: inline-block;
    transform: rotate(90deg);
    padding: 10px;   
}
.list .list-item{
    transition: all 0.2s;
}
.list .list-item:hover{
    transform: scale(1.2);
}
.hero {
    margin: 10% 30%;
    padding: 20px 0;
    text-align: center;
}
.hero-heading {
    font-size: 60px;
    color: #fff;
    padding: 10px 10;
    text-align: center;
}
.hero-description {
    font-size: 20px;
    color: #cad5e2;
}
.button-small {
    margin: 0 auto;
    padding: 15px 35px;
    border: none;
    font-size: 12px;
    border-radius: 10px;
    font-weight: 600;
}
.button-large {
    border: none;
    border-radius: 10px;
    margin: 40px 0;
    padding: 20px 50px;
    font-size: 15px;
    font-weight: 600;
}
.button-small, .button-large{
    background-color: #ba0cc5;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.button-small, .button-large:hover{
    transform: scale(1.2);
}